{% set titlePage = 'Main Page' %}

{% extends "layouts/main.njk" %}

{% block content %}
	{% include "components/main-banner/main-banner.njk" %}
	{% include "components/articles/articles.njk" %}
{% endblock %}
