<script src="https://yastatic.net/browser-updater/v1/script.js" charset="utf-8"></script>
<script>var yaBrowserUpdater = new ya.browserUpdater.init({"lang":"ru","browsers":{"yabrowser":"16.12","chrome":"57","ie":"11","opera":"43","safari":"10","fx":"52"},"theme":"yellow"});</script>

<script src='js/main.bundle.js'></script>
<script src='js/static/frontend-works.js'></script>
